* {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.25rem;
}

#headings {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

#post {
    max-width: 90%;
    margin: 0 auto; 
}

#row {
    display: flex;
    align-items: center; 
}

.titles {
    margin-left: 10px;
}

.icons {
    font-size: 3.5rem;
}

.fa-ellipsis-vertical {
    font-size: 20px;
    padding-top: 15px;
}

.fa-html5 {
    font-size: 3rem;
}

img {
    display: grid;
    place-content: center;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem auto; 
    max-width: 100%;
    padding-bottom: 1rem;
    font-size: 20px;
}

#text {
    margin: 0.8rem;
    max-width: 100%;
}

.fa-heartplanecomment, .fa-mark {
    display: flex;
    align-items: center;
    align-content: space-between;
}
